<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Console (CLI Commands) -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="prxgt_app_command_init_bonus" xsi:type="object">Praxigento\App\Generic2\Console\Command\Init\Bonus</item>
                <item name="prxgt_app_command_init_customers" xsi:type="object">Praxigento\App\Generic2\Console\Command\Init\Customers</item>
                <item name="prxgt_app_command_post_replicate" xsi:type="object">Praxigento\App\Generic2\Console\Command\Init\PostReplicate</item>
                <item name="prxgt_app_command_init_products" xsi:type="object">Praxigento\App\Generic2\Console\Command\Init\Products</item>
                <item name="prxgt_app_command_init_orders" xsi:type="object">Praxigento\App\Generic2\Console\Command\Init\SaleOrders</item>
                <item name="prxgt_app_command_init_stocks" xsi:type="object">Praxigento\App\Generic2\Console\Command\Init\Stocks</item>
            </argument>
        </arguments>
    </type>

    <!-- ************************* -->
    <!-- PSR LOGGERS CONFIGURATION -->
    <!-- ************************* -->
    <virtualType name="loggerOdoo" type="Praxigento\Logging\Logger">
        <arguments>
            <!-- Config file path is related to Magento 2 base directory. Absolute path can be used too. -->
            <argument name="configFile" xsi:type="string">var/log/logging.yaml</argument>
            <!-- Name of the logger in configuration file. Default: "odoo".  -->
            <argument name="loggerName" xsi:type="string">odoo</argument>
        </arguments>
    </virtualType>
    <virtualType name="loggerSql" type="Praxigento\Logging\Logger">
        <arguments>
            <!-- Config file path is related to Magento 2 base directory. Absolute path can be used too. -->
            <argument name="configFile" xsi:type="string">var/log/logging.yaml</argument>
            <!-- Name of the logger in configuration file. Default: "sql".  -->
            <argument name="loggerName" xsi:type="string">sql</argument>
        </arguments>
    </virtualType>
    <virtualType name="loggerSetup" type="Praxigento\Logging\Logger">
        <arguments>
            <!-- Config file path is related to Magento 2 base directory. Absolute path can be used too. -->
            <argument name="configFile" xsi:type="string">var/log/logging.yaml</argument>
            <!-- Name of the logger in configuration file. Default: "odoo".  -->
            <argument name="loggerName" xsi:type="string">setup</argument>
        </arguments>
    </virtualType>

    <!-- Praxigento\AppGeneric2 -->
    <type name="Praxigento\App\Generic2\Console\Command\Init\Stocks">
        <arguments>
            <argument name="logger" xsi:type="object">loggerSetup</argument>
        </arguments>
    </type>

    <!-- Praxigento\Core -->
    <type name="Praxigento\Core\Setup\Dem\Tool">
        <arguments>
            <argument name="logger" xsi:type="object">loggerSetup</argument>
        </arguments>
    </type>

    <!-- Praxigento\Odoo -->
    <type name="Praxigento\Odoo\Repo\Odoo\Connector\Api\Def\Login">
        <arguments>
            <argument name="logger" xsi:type="object">loggerOdoo</argument>
        </arguments>
    </type>
    <type name="Praxigento\Odoo\Repo\Odoo\Connector\Rest">
        <arguments>
            <argument name="logger" xsi:type="object">loggerOdoo</argument>
        </arguments>
    </type>
    <type name="Praxigento\Odoo\Service\Replicate\Sub\Replicator\Product">
        <arguments>
            <argument name="logger" xsi:type="object">loggerOdoo</argument>
        </arguments>
    </type>

    <!-- Praxigento_Warehouse -->
    <type name="Praxigento\Odoo\Repo\Agg\Def\SaleOrderItem\SelectFactory">
        <arguments>
            <argument name="logger" xsi:type="object">loggerSql</argument>
        </arguments>
    </type>

    <!-- **************************** -->
    <!-- Odoo API repo (see MOBI-428) -->
    <!-- **************************** -->
    <!-- see "praxigento/mobi_mod_mage2_odoo/src/etc/di.xml" -->
    <virtualType name="odooTestConfigParams" type="Praxigento\Odoo\Repo\Odoo\Connector\Config\Def\Params">
        <arguments>
            <argument xsi:type="array" name="arg1">
                <item name="baseUri" xsi:type="string">http://lion.host.prxgt.com:8122</item>
                <item name="dbName" xsi:type="string">odoo_mobi_test_shop</item>
                <item name="userName" xsi:type="string">magento</item>
                <item name="userPassword" xsi:type="string">v5WzTHjLatKHLeTB</item>
                <!--<item name="userName" xsi:type="string">admin</item>-->
                <!--<item name="userPassword" xsi:type="string">admin</item>-->
            </argument>
        </arguments>
    </virtualType>


    <!-- ************************************** -->
    <!-- APP SPECIFIC INTERFACE IMPLEMENTATIONS -->
    <!-- ************************************** -->
    <preference for="Praxigento\Odoo\Tool\IBusinessCodesManager" type="Praxigento\App\Generic2\Tool\Odoo\Def\BusinessCodesManager"/>
    <preference for="Praxigento\Warehouse\Tool\IStockManager" type="Praxigento\App\Generic2\Tool\Warehouse\Def\StockManager"/>

</config>
