<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- ********************** -->
    <!-- Console (CLI Commands) -->
    <!-- ********************** -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="prxgt_app_init_bonus" xsi:type="object">\Praxigento\App\Generic2\Cli\Cmd\Init\Bonus</item>
                <item name="prxgt_app_init_groups" xsi:type="object">\Praxigento\App\Generic2\Cli\Cmd\Init\CustomerGroups</item>
                <item name="prxgt_app_init_customers" xsi:type="object">\Praxigento\App\Generic2\Cli\Cmd\Init\Customers</item>
                <item name="prxgt_app_init_orders" xsi:type="object">\Praxigento\App\Generic2\Cli\Cmd\Init\SaleOrders</item>
                <item name="prxgt_app_init_stocks" xsi:type="object">\Praxigento\App\Generic2\Cli\Cmd\Init\Stocks</item>
                <item name="prxgt_app_init_taxes" xsi:type="object">\Praxigento\App\Generic2\Cli\Cmd\Init\Taxes</item>
                <item name="prxgt_app_init_users" xsi:type="object">\Praxigento\App\Generic2\Cli\Cmd\Init\Users</item>
                <item name="prxgt_app_init_post_replicate" xsi:type="object">\Praxigento\App\Generic2\Cli\Cmd\Init\PostReplicate</item>
                <item name="prxgt_app_test_bonus_config" xsi:type="object">\Praxigento\App\Generic2\Cli\Cmd\Test\Bonus\Config</item>
                <item name="prxgt_app_test_downline_init" xsi:type="object">\Praxigento\App\Generic2\Cli\Cmd\Test\Downline\Init</item>
            </argument>
        </arguments>
    </type>

    <!-- ************************* -->
    <!-- PSR LOGGERS CONFIGURATION -->
    <!-- ************************* -->
    <virtualType name="loggerSqlInternal" type="Praxigento\Logging\Logger">
        <arguments>
            <!-- Config file path is related to Magento 2 base directory. Absolute path can be used too. -->
            <argument name="configFile" xsi:type="string">var/log/logging.yaml</argument>
            <!-- Name of the logger in configuration file. Default: "sql".  -->
            <argument name="loggerName" xsi:type="string">sql</argument>
        </arguments>
    </virtualType>
    <virtualType name="loggerSql" type="\Praxigento\Core\App\Logger\App">
        <!-- Configure this application logger from Praxigneto_Core module -->
        <arguments>
            <argument name="logger" xsi:type="object">loggerSqlInternal</argument>
        </arguments>
    </virtualType>
    <virtualType name="loggerSetupInternal" type="Praxigento\Logging\Logger">
        <arguments>
            <!-- Config file path is related to Magento 2 base directory. Absolute path can be used too. -->
            <argument name="configFile" xsi:type="string">var/log/logging.yaml</argument>
            <!-- Name of the logger in configuration file. Default: "setup".  -->
            <argument name="loggerName" xsi:type="string">setup</argument>
        </arguments>
    </virtualType>
    <virtualType name="loggerSetup" type="\Praxigento\Core\App\Logger\App">
        <!-- Configure this application logger from Praxigneto_Core module -->
        <arguments>
            <argument name="logger" xsi:type="object">loggerSetupInternal</argument>
        </arguments>
    </virtualType>

    <!-- Praxigento\AppGeneric2 -->
    <type name="Praxigento\App\Generic2\Cli\Cmd\Init\Stocks">
        <arguments>
            <argument name="logger" xsi:type="object">loggerSetup</argument>
        </arguments>
    </type>

    <!-- Praxigento\Core -->
    <type name="Praxigento\Core\App\Setup\Dem\Tool">
        <arguments>
            <argument name="logger" xsi:type="object">loggerSetup</argument>
        </arguments>
    </type>


    <!-- ************************************** -->
    <!-- APP SPECIFIC INTERFACE IMPLEMENTATIONS -->
    <!-- ************************************** -->
    <preference for="Praxigento\Odoo\Tool\IBusinessCodesManager" type="Praxigento\App\Generic2\Tool\Odoo\Def\BusinessCodesManager"/>
    <preference for="Praxigento\Warehouse\Tool\IStockManager" type="Praxigento\App\Generic2\Tool\Warehouse\Def\StockManager"/>

</config>
