<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Console (CLI Commands) -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="prxgt_app_command_init_customers" xsi:type="object">Praxigento\App\Generic2\Console\Command\Init\Customers</item>
                <item name="prxgt_app_command_init_products" xsi:type="object">Praxigento\App\Generic2\Console\Command\Init\Products</item>
            </argument>
        </arguments>
    </type>

</config>
