/.idea/
/_dvlp/
/bin/
/build/
/live/
/pilot/
/vendor/
/work/
/atlassian-ide-plugin.xml
/composer.lock
/deploy.cfg.live.sh
/deploy.cfg.pilot.sh
/deploy.cfg.work.sh
/templates.vars.live.json
/templates.vars.pilot.json
/templates.vars.work.json
/ttttest.*